.wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background: #fff;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}


@media (max-width: 768px) {
  .wrapper {
    padding: 16px;
  }

  .container {
    padding: 0 12px;
  }
}